In [1]:
import sqlite3 as sql
import pandas as pd

########## Load, Clean, & Insert Data ###########

In [2]:
### Load data into Pandas data frame & clean it
df = pd.read_csv('../../Data/Employee_Data.csv') #allows read after folder changes and code stays portable
df = df.dropna() #drop null values (clean data)

In [ ]:
### Create local SQLite database and insert data
Emp_db ='../../Data/Employee_Data.db'
try:
    conn = sql.connect(Emp_db) #create connection
    print(f"\nSuccessful connection to {Emp_db}.")
    df.to_sql('Table_of_Employees', conn, if_exists='replace',index=False) #replaces current to make sure the data is as up-to-date as possible
    print("\nData inserted successfully.")

    
    cursor = conn.cursor()
    '''
    # Print table
    cursor.execute("SELECT * FROM Table_of_Employees")
    rows = cursor.fetchall()
    print("\n--------Table of Employees--------")
    headers = [description[0] for description in cursor.description] #points cursor at column names
    print (headers)

    for row in rows:
        print (row)
    '''
    print("\n\n\n\n**********************************************************\n")
    ########### Data Analysis Begins ###########
    
    ### Given Questions ###

    # How many total employees are there?
    cursor.execute("SELECT COUNT(EmployeeNumber) FROM Table_of_Employees")
    Emp_Amount = cursor.fetchone()[0] # takes result as num , instead of tuple
    print (f"\n- Number of Employees: {Emp_Amount}\n")

    # What is the employee count for each department?
    cursor.execute("SELECT Department, COUNT(EmployeeNumber) FROM Table_of_Employees GROUP BY Department")
    Dept_Num = cursor.fetchall()
    print ("- Employees by Department:")
    for row in Dept_Num:
        print(f"{row[0]}:{row[1]}")

    # What is the average monthly income by job role?
    cursor.execute("SELECT JobRole, AVG(MonthlyIncome) AS Avg_Sal FROM Table_of_Employees GROUP BY JobRole ORDER BY Avg_Sal")
    Avg_Sal_Role = cursor.fetchall()
    print ("\n- Average Monthly Salary by Role (lowest to highest):")
    for row in Avg_Sal_Role:
        print(f"{row[0]}: {row[1]}")
    
    # Who are the top 5 employees by performance rating?
    cursor.execute("SELECT EmployeeNumber, PerformanceRating FROM Table_of_Employees ORDER BY PerformanceRating DESC LIMIT 5")
    Top5_Rate = cursor.fetchall()
    print (f"\n- Top 5 Employees by Performance Rating:")
    for row in Top5_Rate:
        print(f"(Employee Number: {row[0]}) Rating: {row[1]}")

    # Which department has the highest average performance rating?
    cursor.execute("SELECT Department, AVG(PerformanceRating) AS Avg_Rate FROM Table_of_Employees GROUP BY Department ORDER BY Avg_Rate DESC LIMIT 1")
    Max_Rate = cursor.fetchone()
    print(f"\n- The {Max_Rate[0]} Department has the Highest Average Performance Rating: {Max_Rate[1]}")

    #### My Questions ###

    # What is the average monthly income by total working years? (sorted by highest income to lowest)
    cursor.execute("SELECT TotalWorkingYears, AVG(MonthlyIncome) AS Avg_Sal FROM Table_of_Employees GROUP BY TotalWorkingYears ORDER BY Avg_Sal DESC") #DESC maks it high to low instead of the opposite
    Avg_Sal_Years = cursor.fetchall()
    print("\n- Average Salary by Years Working (Highest to lowest):")
    for row in Avg_Sal_Years:
        print(f"{row[0]}: {row[1]}")

    # What is the average salary hike % by Education field (sorted by highest salary hike % to lowest)
    cursor.execute("SELECT EducationField, AVG(PercentSalaryHike) AS Avg_Sal_Hike FROM Table_of_Employees GROUP BY EducationField ORDER BY Avg_Sal_Hike DESC")
    Avg_Sal_Hike = cursor.fetchall()
    print("\n- Average Salary Hike Percent by Education Field (Highest to lowest):")
    for row in Avg_Sal_Hike:
        print(f"{row[0]}: {row[1]}")

    # What is the average monthly salary by gender?
    cursor.execute("SELECT Gender, AVG(MonthlyIncome) FROM Table_of_Employees GROUP BY Gender")
    Avg_Sal_G = cursor.fetchall()
    print("\n- Average Salary for each Gender:")
    for row in Avg_Sal_G:
        print(f"{row[0]}: {row[1]}")

    ########### Data Analysis Ends ###########

except sql.Error as e: #saves error in var to print later (helps understand the reason for error)
    print(f"\nError: {e}")
finally:
    if 'conn' in locals() and conn:
        conn.close() # closing force saves any updates and unlocks db
        print("\nDatabase connection closed.\n")

Successful connection to ../../Data/Employee_Data.db.

Data inserted successfully.




**********************************************************


- Number of Employees: 1470

- Employees per Department:
Human Resources:63
Research & Development:961
Sales:446

- Average Monthly Salary per Role (lowest to highest):
Sales Representative: 2626.0
Laboratory Technician: 3237.169884169884
Research Scientist: 3239.972602739726
Human Resources: 4235.75
Sales Executive: 6924.2791411042945
Manufacturing Director: 7295.137931034483
Healthcare Representative: 7528.763358778626
Research Director: 16033.55
Manager: 17181.676470588234

- Top 5 Employees by Performance Rating:
(Employee Number: 2.0) Rating: 4.0
(Employee Number: 10.0) Rating: 4.0
(Employee Number: 11.0) Rating: 4.0
(Employee Number: 12.0) Rating: 4.0
(Employee Number: 27.0) Rating: 4.0

- The Research & Development Department has the Highest Average Performance Rating: 3.162330905306972

- Average Salary per Years Working (Highest to lowest):
36.0: 17740.333333333332
26.0: 17554.071428571428
32.0: 16362.333333333334
21.0: 16264.882352941177
27.0: 16259.714285714286
31.0: 16064.111111111111
34.0: 15927.8
33.0: 15812.0
35.0: 15722.666666666666
22.0: 15696.190476190477
29.0: 15613.5
23.0: 15020.818181818182
37.0: 14857.75
40.0: 14779.0
25.0: 14586.07142857143
28.0: 14253.857142857143
30.0: 14208.857142857143
24.0: 14117.722222222223
38.0: 13872.0
16.0: 8189.810810810811
14.0: 7362.258064516129
15.0: 7227.7
18.0: 6844.0
9.0: 6623.40625
17.0: 6563.121212121212
20.0: 6431.4
13.0: 6254.916666666667
12.0: 6020.583333333333
10.0: 6019.767326732674
11.0: 5669.333333333333
19.0: 5597.363636363636
6.0: 4215.256
8.0: 4209.252427184466
7.0: 4171.308641975309
4.0: 3614.4285714285716
5.0: 3476.659090909091
3.0: 2781.0476190476193
2.0: 2650.1935483870966
1.0: 2208.8271604938273
0.0: 1523.6363636363637

- Average Salary Hike Percent per Education Field (Highest to lowest):
Other: 15.5
Medical: 15.366379310344827
Life Sciences: 15.254125412541255
Marketing: 14.918238993710691
Human Resources: 14.777777777777779
Technical Degree: 14.712121212121213

- Average Salary for each Gender:
Female: 6686.566326530612
Male: 6380.507936507936

Database connection closed.